name: DevSecOps Pipeline

on:
  push:
    branches:
      - "feature/**"
  pull_request:
    branches:
      - "main"

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Run Semgrep (SAST)
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/owasp
        continue-on-error: true

      - name: Run Snyk (SCA)
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: test --print-deps --json-file-output=snyk-report.json
        continue-on-error: true

      - name: Upload Security Reports
        uses: actions/upload-artifact@v4
        with:
          name: juice-shop-security-reports
          path: snyk-report.json
